<header class="border-spacing-7 border-primabg-primary flex absolute top-0 left-0 z-10 w-full">
    <div class="container">
        <nav class="bg-primary h-full flex items-center justify-between relative">
            <div class="px-4 ">
                <a href="#home" class="font-bold text-lg text-gradasi block py-6">Perpustakaan</a>
            </div>
            <div class="flex items-center px-4 ">
                <img src="" alt="" width="50" height="50" class="rounded-full bg-gradasi bg-cover">
            </div>
        </nav>
    </div>
</header>